body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.like-button-container {
    text-align: center;
}

#like-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#like-button:hover {
    background-color: #005f75;
}

#like-icon {
    margin-right: 10px;
}
